<mat-card class="home mat-elevation-z3">
<mat-card-title class="title">Welcome</mat-card-title>
<mat-card-subtitle class="subtitle">RxJs Essential Operators</mat-card-subtitle>
<mat-card-content>
    <p>
        Nowadays thanks to Rxjs (Reactive Extensions Library for JavaScript) we can make our code easier to write 
        and more concise. We handle our events in a more organized way.
        Before going into depth with Rxjs we must understand the concept of reactive programming and what is behind it.</p>

    <p>
        Reactive programming is associated with an external event that needs to happen for our code to be executed.
        It all starts with the Observer design pattern. An event-oriented design pattern, widely used on the web and which is the basis of reactive javascript programming. In this pattern, we have an object called Subject that is responsible for monitoring and detecting when an event happens.
        Therefore, it aims to notify observers of state changes.
    </p>
</mat-card-content>
</mat-card>